# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.VR_Sample.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity\VR_Sample\.idea\.idea.VR_Sample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
